<h1>Here you can edit <%= @drug.name%></h1>

<form action="/drugs/<%= @drug.id %>" method="POST">
<input type="hidden" name="_method" value="patch">
<label for="name">Drug name: </label>
<input type="text" name="drug[name]"><br>
<label for="dosage">Drug Dosage: </label>
<input type="text" name="drug[dosage]"><br>
<input type="submit" value="Edit!" class="edit">
</form>
<%= @error if params.errors.any?%>

<h3>Or return to <a href="/drugs">main</a> page</h3>