* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
body {
    background-color: azure;
}
.wrapper {
    width: 90%;
    margin: auto;
    background-image: url(/public/images/Health-Insurance-Quotes-1920x1080.jpg);
    background-size: auto;
    background-repeat: no-repeat;
}
.header {
    display: flex;
    padding: 10px;
    font-size: 1.5rem;
    div {
        padding: 10px;
        background-color: #FFDD00;
    }
}
a {
    text-decoration: none;
    color: green;
}
a:hover {
    cursor: pointer;
    color: blue;
}
.welcome {
    color: rosybrown;
}
ul li {
    list-style: none;
}
input {
    background-color: wheat;
    color: dimgray;
}
.delete {
    background-color: cadetblue;
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    color: cornsilk;
}

.edit .login {
    background-color: royalblue;
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    border-radius: 5%;
    color: cornsilk;
}
p .error {
    color: red;
}