<h1>Welcome on board, Dr. <%= @user.first_name %> <%= @user.last_name %>!</h1>

<h2>Select type of information you require</h2>

<h3><a href="/patients">Patients</a></h3>
<h3><a href="/diseases">Types of Diseases</a></h3>
<h3><a href="/drugs">Presctiption drugs</a></h3>

<a href="/logout">Log out</a>