<h1>Have an account already? Log in!</h1>
<form action="/login" method="POST">
<label for="email">Email: </label>
<input type="email" name="user[email]"><br>
<label for="password">Password: </label>
<input type="password" name="user[password_digest]"><br>
<input type="submit" value="Log In" class="login">
</form>

<h4><a href="/signup">Register</a></h4>
<p><a href="/logout">Log out</a></p>

