<h1 class="welcome">Welcome to Health Net!</h1>
<h2>This site is designated for medical professionals only, where they can track and monitor all their patients' treatment processes</h2><br>
<p><a href="/signup">Register</a> if you are a new user</p><br>
<p>If you have an account, please <a href="/login">Log In</a></p>